body{
    background-color: rgb(176, 176, 189);
    font-family: Tahoma, sans-serif;
}

h1{
    text-align: center;
    padding: 10px;
}

section{
    width: 80%;
    height: 800px;
    margin: 0 auto;
    background-color: rgb(74, 149, 168);
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}