form {
    margin: 10px auto;
    width: 800px;
    height: 700px;
    background-color: aquamarine;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

form>label {    
    width: 400px;
    line-height: 50px;
    height: 50px;
    /* background-color: blue; */
    margin-top: 10px;
    margin-left: 40px;
    float: left;
    clear: left;
    font-weight: bold;

}

form>label>input{
    float: right;    
    height: 50px;   
    transform: translate(-50%, 25%);

}

input[type=text],input[type=email],input[type=password],input[type=date]{
    width: 180px;
    border-radius: 5px;
    height: 2em;
}