form {
    margin: 10px auto;
    width: 40%;
    height: 700px;
    background-color: aquamarine;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgb(71, 88, 71);
}

label>input,
.textInput>label,
.dropdownInput>label,
.radioInput,
.descriptionInput {
    width: 400px;
}

label>input,
.dropdownInput>label>select {
    float: right;
}

label>input {
    height: 80px;
}

.allInputs {
    margin-left: 40px;
}

.textInput>label,
.dropdownInput>label,
.submitInput {
    clear: left;
    float: left;
}

.textInput>label,
.dropdownInput>label,
.dropdownInput>label>select,
.submitInput,
.radioInput {
    line-height: 50px;
}

.textInput>label,
.dropdownInput>label,
.descriptionInput>p>textarea {
    height: 50px;
}

.textInput>label>input,
.dropdownInput>label>select {
    width: 180px;
    height: 2em;
    transform: translate(-35%, 35%);
    background-color: white;
}

.textInput>label>input,
.descriptionInput>p>textarea,
.dropdownInput>label>select,
.submitInput>input {
    border-radius: 10px;
}

.descriptionInput>p>textarea {
    width: 330px;
}

input[type="submit"] {
    margin-top: 40px;
    color: white;
    font-weight: bold;
    height: 3em;
    background: linear-gradient(266deg, rgba(18, 142, 111, 1) 0%, rgba(11, 121, 9, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

input[type="submit"]:hover {
    cursor: pointer;      
    height: 4em;
    width: 12em;
}
